# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#executables
src/tools/fregrid/fregrid
src/tools/make_coupler_mosaic/make_coupler_mosaic
src/tools/make_hgrid/make_hgrid
src/tools/make_mosaic/make_mosaic
src/tools/make_topog/make_topog
src/tools/make_vgrid/make_vgrid

bin

datadir